  /* "#051e3e", "#451e3e", "#851e3e" */

svg {
  //border: 1px solid red;
  position: absolute;
  width: 100%;
  height: 100%;
}

$size: 10;

@for $i from 1 through 5 {
  $h: 250 * $i + 100;
  $s: 35;
  $l: 50;
  .circle-#{$i} {
    r: $size;
    fill: hsl($h, $s * 1%, $l * 1%);

    &.onset {
      fill: hsl($h, $s * 2%, $l * 0.5%);

      &.active {
        r: $size * 1.2;
        fill: hsl($h, $s * 3%, $l * 1.25%); 
      }
    }
  }
}
