@import '../../Assets/sass/colors.scss';

.container__circle {
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
}

.container__euclid-controls {
  width: 400px;
}

.form__row {
  display: flex;
  margin: 10px;
  align-items: center;
}

.form__group {
  position: relative;
  padding: 1rem 1rem 0 1rem;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $dustygray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $dustygray;
}

.form__select-label {
  font-size: 1rem;
  color: $dustygray;
  padding: 0 1rem;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $deyork;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: $deyork;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  // background: #2c3e50;
  background: $dovegray;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.form__select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  // background: #2c3e50;
  background: $dovegray;
  overflow: hidden;
  // border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.form__select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
	background: $gablegreen;
	color: $dustygray;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.form__select:hover::after {
  color: $deyork;
}

.play-pause {
  height: 48px;
  width: 48px;
  background-color: $gablegreen;
  border: none;
  cursor: pointer;
	margin: 0 1rem;
	
	svg {
		fill: $dustygray;
		&:hover {
			fill: $deyork;
		}
	}

	&:hover {
		svg {
			fill: $deyork;
		}
	}
}
