@import '../Assets/sass/colors.scss';

.init-button {
  background: transparent;
  color: #EEE; 
  border: none;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
}

.left {
	width: 400px;
}

.container__add-remove {
	display: flex;
	justify-content: center;
	margin-top: 2rem;

}

.control-button {
	margin: 0 1rem;
	height: 48px;
  width: 120px;
	background-color: $gablegreen;
	color: $dustygray;
	font-weight: 700;
  border: none;
	cursor: pointer;
	
	&:hover {
		color: $deyork;
	}
}
